/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  } */
  *,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  body {
    background: #3d64e6;
    padding: clamp(20px, 5vw, 50px) 20px 20px;
    
  }

  .container{
    background-color: #ffffff;
    width: 80vw;
    max-width: 37.5em;
    padding: 3em 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.62em;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);

  }

  form{
   
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 20px;

  }

  .input-country{
    font-size: 15px;
    padding: 0 10px;
    border: none;
    border-bottom: 2px solid #3d64e6;
    outline: none;
    color: #222a43;
  }

  .button-search{
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 0;
    background-color: #3d64e6;
    border: none;
    color: white;
    cursor: pointer;
  }
  .error-msg {
    /* text-align: center; */
    color: rgb(228, 45, 45);
    margin-top :20px;
    
  }

  .result-item {
    margin-bottom: 20px;
  
 }

 .result-item .flag-img{
  display: block;
  width: 45%;
  min-width: 7.5em;
  margin:1.8em auto 1.2em auto;
 }
 .name-pays {
  margin-bottom: 10px;
 }
 .name-pays span{
  font-weight: 100;
 }
 i {
  margin-right: 5px;
 }
 .loader {
  display: none;
  justify-content: center;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f9dc5c;
  margin: 0 3px;
  animation: load 0.3s infinite ease-out alternate;
}
.dot:nth-child(2) {
  animation-delay:  0.1s;
}
.dot:nth-child(3) {
  animation-delay:  0.2s;
}
@keyframes load {
  to {
    transform: translateY(10px);
  }
}


@media (max-width:800px) {
  .container {
      max-width: 700px;
      padding: 2em 1.5em;
  }

  .button-search{
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 6px;
   
   
  }
 

 

}
  

 